[Unit]
Descript=Diaspora Server

[Service]
Type=simple
WorkingDirectory=/home/adm001di
User=adm001di
ExecStart=/opt/diaspora

[Install]
WantedBy=multi-user.target
